.fill{
    width: 100%;
    color: black;
    margin-left: 20px;
    margin-right: 20px;
}

.titulo{
    margin-top: 40px;
    margin-bottom: 40px;
}

.color{
    color: black
}

.boton{
    margin-left: 50px;
}